<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebStudio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_for_main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<header class="head page">
    <div class="section-head">
        <ul class="head-ul">
            <li><a href="http://127.0.0.1:5000/main" class="webstudio-head">WebStudio</a></li>
            <li><a href="http://127.0.0.1:5000/catalog" class="studio-head">Студия</a></li>
            <li><a href="" class="port">Портфолио</a></li>
            <li><a href="" class="contacts">Контакты</a></li>
            <li><a href="" class="info-head">olexandr.samus.2004@gmail.com</a></li>
            <li><a href="" class="number-head">+38 093 731 60 48</a></li>
        </ul>
    </div>
</header>
<main class="main-page">
    <div class="main-div">
        <h1 class="title-page">Эффективные решения<br> для вашего бизнеса</h1>
        <button class="book-service">Заказать услугу</button>
    </div>
    <section class="list-details">
        <ul class="ul-details">
            <li class="li-vector-1">
                <div class="div-vector-1"><img src="{{ url_for('static', filename='/image/Vector.png') }}" alt="" width="65" height="70"></div>
                <div class="div-kolo"><img src="{{ url_for('static', filename='/image/Vector (5).png') }}" alt="" width="7" height="7"></div>
            </li>
            <li class="li-vector-2">
                <div class="div-vector-2"><img src="{{ url_for('static', filename='/image/Vector (1).png') }}" alt="" width="67" height="70"></div>
                <div class="div-palka-1"><img src="{{ url_for('static', filename='/image/Vector (6).png') }}" alt="" width="6" height="3"></div>
                <div class="div-palka-2"><img src="{{ url_for('static', filename='/image/Vector (6).png') }}" alt="" width="3" height="6"></div>
                <div class="div-palka-3"><img src="{{ url_for('static', filename='/image/Vector (6).png') }}" alt="" width="6" height="3"></div>
            </li>
            <li class="li-vector-3">
                <div class="div-vector-3"><img src="{{ url_for('static', filename='/image/Vector (2).png') }}" alt="" width="70" height="54"></div>
                <div class="div-diagrama-1"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.3" height="3.5"></div>
                <div class="div-diagrama-2"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-diagrama-3"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="10.49"></div>
                <div class="div-diagrama-4"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="5.83"></div>
            </li>
            <li class="li-vector-4">
                <div class="div-vector-4"><img src="{{ url_for('static', filename='/image/Vector (3).png') }}" alt="" class="vector-4"></div>
                <div class="div-star-1"><img src="{{ url_for('static', filename='/image/Vector (8).png') }}" alt="" width="16.19" height="15.46"></div>
                <div class="div-kvadrat-1"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-2"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-3"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-4"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-5"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-6"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-7"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-8"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-9"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-10"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-11"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-12"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-13"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-14"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-15"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
                <div class="div-kvadrat-16"><img src="{{ url_for('static', filename='/image/Vector (7).png') }}" alt="" width="2.33" height="2.33"></div>
            </li>
            <li class="detail">
                <h3 class="attention-1">Внимание к деталям</h3>
                <pre class="pre-1">Идейные соображения, а также
начало повседневной работы по
формированию позиции.</pre>
            </li>
            <li class="detail">
                <h3 class="attention-2">Пунктуальность</h3>
                <pre class="pre-2">Задача организации, в особенности
же рамки и место обучения кадров
влечет за собой.</pre>
            </li>
            <li class="detail">
                <h3 class="attention-3">Планирование</h3>
                <pre class="pre-3">Равным образом консультация с
широким активом в значительной
степени обуславливает.</pre>
            </li>
            <li class="detail">
                <h3 class="attention-4">Современные технологии</h3>
                <pre class="pre-4">Значимость этих проблем настолько
очевидна, что реализация плановых
заданий.</pre>
            </li>
        </ul>
    </section>
    <h2 class="What-we-do">Чем мы занимаемся</h2>
    <section class="our-work">
        <ul>
            <li class="feat-1">
                <img src="{{ url_for('static', filename='/image/img (9).png') }}" alt="" class="work-1">
            </li>
            <li class="feat-2">
                <img src="{{ url_for('static', filename='/image/img (10).png') }}" alt="" class="work-2">
            </li>
            <li class="feat-3">
                <img src="{{ url_for('static', filename='/image/img (11).png') }}" alt="" class="work-3">
            </li>
        </ul>
    </section>
    <h2 class="team">Наша команда</h2>
    <section class="our-team">
        <ul>
            <li class="teams-1">
                <img src="{{ url_for('static', filename='/image/img (12).png') }}" alt="" class="team-1" width="270" height="260">
                <h3>Игорь Демьяненко</h3>
                <p>Product Designer</p>
                <div class="elipse-inst">
                    <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='/image/Ellipse.png') }}" alt="" class="item-inst-1" width="44" height="44">
                    <img src="{{ url_for('static', filename='/image/Vector (10).png') }}" alt="" class="item-inst-2" width="20" height="20">
                    <img src="{{ url_for('static', filename='/image/Vector (11).png') }}" alt="" class="item-inst-3" width="10.28" height="10.28">
                    <img src="{{ url_for('static', filename='/image/Vector (12).png') }}" alt="" class="item-inst-4" width="2.4" height="2.4"></a>
                </div>
                <div class="elipse-twitter">
                    <a href="https://twitter.com/home?lang=uk">
                    <img src="{{ url_for('static', filename='/image/Vector (13).png') }}" alt="" class="twitter-1" width="20" height="16"></a>
                </div>
                <div class="elipse-facebook">
                    <a href="https://www.facebook.com/">
                    <img src="{{ url_for('static', filename='/image/Vector (14).png') }}" alt="" class="facebook-1" width="10" height="20"></a>
                </div>
                <div class="elipse-in">
                    <a href="https://www.linkedin.com/feed/">
                    <img src="{{ url_for('static', filename='/image/Vector (15).png') }}" alt="" class="in-1" width="4.15" height="13.35"></a>
                    <img src="{{ url_for('static', filename='/image/Vector (16).png') }}" alt="" class="in-2" width="11.93" height="12.69"></a>
                    <img src="{{ url_for('static', filename='/image/Vector (17).png') }}" alt="" class="in-3" width="4.8" height="4.83">
                </div>
            </li>
            <li class="teams-2">
                <img src="{{ url_for('static', filename='/image/img (13).png') }}" alt="" class="team-2" width="270" height="260">
                <h3>Ольга Репина</h3>
                <p>Frontend Developer</p>
                <div class="elipse-inst">
                    <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='/image/Ellipse.png') }}" alt="" class="item-inst-1" width="44" height="44">
                    <img src="{{ url_for('static', filename='/image/Vector (10).png') }}" alt="" class="item-inst-2" width="20" height="20">
                    <img src="{{ url_for('static', filename='/image/Vector (11).png') }}" alt="" class="item-inst-3" width="10.28" height="10.28">
                    <img src="{{ url_for('static', filename='/image/Vector (12).png') }}" alt="" class="item-inst-4" width="2.4" height="2.4"></a>
                </div>
                <div class="elipse-twitter">
                    <a href="https://twitter.com/home?lang=uk">
                    <img src="{{ url_for('static', filename='/image/Vector (13).png') }}" alt="" class="twitter-1" width="20" height="16"></a>
                </div>
                <div class="elipse-facebook">
                    <a href="https://www.facebook.com/">
                    <img src="{{ url_for('static', filename='/image/Vector (14).png') }}" alt="" class="facebook-1" width="10" height="20"></a>
                </div>
                <div class="elipse-in">
                    <a href="https://www.linkedin.com/feed/">
                    <img src="{{ url_for('static', filename='/image/Vector (15).png') }}" alt="" class="in-1" width="4.15" height="13.35"></a>
                    <img src="{{ url_for('static', filename='/image/Vector (16).png') }}" alt="" class="in-2" width="11.93" height="12.69"></a>
                    <img src="{{ url_for('static', filename='/image/Vector (17).png') }}" alt="" class="in-3" width="4.8" height="4.83">
                </div>
            </li>
            <li class="teams-3">
                <img src="{{ url_for('static', filename='/image/img (14).png') }}" alt="" class="team-3" width="270" height="260">
                <h3>Николай Тарасов</h3>
                <p>Marketing</p>
                <div class="elipse-inst">
                    <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='/image/Ellipse.png') }}" alt="" class="item-inst-1" width="44" height="44">
                    <img src="{{ url_for('static', filename='/image/Vector (10).png') }}" alt="" class="item-inst-2" width="20" height="20">
                    <img src="{{ url_for('static', filename='/image/Vector (11).png') }}" alt="" class="item-inst-3" width="10.28" height="10.28">
                    <img src="{{ url_for('static', filename='/image/Vector (12).png') }}" alt="" class="item-inst-4" width="2.4" height="2.4"></a>
                </div>
                <div class="elipse-twitter">
                    <a href="https://twitter.com/home?lang=uk">
                    <img src="{{ url_for('static', filename='/image/Vector (13).png') }}" alt="" class="twitter-1" width="20" height="16"></a>
                </div>
                <div class="elipse-facebook">
                    <a href="https://www.facebook.com/">
                    <img src="{{ url_for('static', filename='/image/Vector (14).png') }}" alt="" class="facebook-1" width="10" height="20"></a>
                </div>
                <div class="elipse-in">
                    <a href="https://www.linkedin.com/feed/">
                    <img src="{{ url_for('static', filename='/image/Vector (15).png') }}" alt="" class="in-1" width="4.15" height="13.35"></a>
                    <img src="{{ url_for('static', filename='/image/Vector (16).png') }}" alt="" class="in-2" width="11.93" height="12.69"></a>
                    <img src="{{ url_for('static', filename='/image/Vector (17).png') }}" alt="" class="in-3" width="4.8" height="4.83">
                </div>
            </li>
            <li class="teams-4">
                <img src="{{ url_for('static', filename='/image/img (15).png') }}" alt="" class="team-4" width="270" height="260">
                <h3>Михаил Ермаков</h3>
                <p>Ui Designer</p>
                <div class="elipse-inst">
                    <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='/image/Ellipse.png') }}" alt="" class="item-inst-1" width="44" height="44">
                    <img src="{{ url_for('static', filename='/image/Vector (10).png') }}" alt="" class="item-inst-2" width="20" height="20">
                    <img src="{{ url_for('static', filename='/image/Vector (11).png') }}" alt="" class="item-inst-3" width="10.28" height="10.28">
                    <img src="{{ url_for('static', filename='/image/Vector (12).png') }}" alt="" class="item-inst-4" width="2.4" height="2.4"></a>
                </div>
                <div class="elipse-twitter">
                    <a href="https://twitter.com/home?lang=uk">
                    <img src="{{ url_for('static', filename='/image/Vector (13).png') }}" alt="" class="twitter-1" width="20" height="16"></a>
                </div>
                <div class="elipse-facebook">
                    <a href="https://www.facebook.com/">
                    <img src="{{ url_for('static', filename='/image/Vector (14).png') }}" alt="" class="facebook-1" width="10" height="20"></a>
                </div>
                <div class="elipse-in">
                    <a href="https://www.linkedin.com/feed/">
                    <img src="{{ url_for('static', filename='/image/Vector (15).png') }}" alt="" class="in-1" width="4.15" height="13.35"></a>
                    <img src="{{ url_for('static', filename='/image/Vector (16).png') }}" alt="" class="in-2" width="11.93" height="12.69"></a>
                    <img src="{{ url_for('static', filename='/image/Vector (17).png') }}" alt="" class="in-3" width="4.8" height="4.83">
                </div>
            </li>
        </ul>
    </section>
</main>
<footer class="footer-nav">
    <ul class="footer-ul">
        <li><a href="" class="webstudio-foot">WebStudio</a></li>
        <li><a href="" class="adress">м.Гайсин вул.Пироговського 18</a></li>
        <li><a href="" class="info-foot">olexandr.samus.2004@gmail.com</a></li>
        <li><a href="" class="number-foot">+38 093 731 60 48</a></li>
    </ul>
</footer>
</body>
</html>